#sidebar {
  transition: all 0.3s ease-in-out;
}

body .open-menu-btn {
  transition: all 0.3s ease-in-out;
}
body .open-menu-btn img {
  transition: all 0.3s ease-in-out;
}
body.closed-menu #sidebar {
  transform: translate3d(-100%, 0px, 0px);
}
body.closed-menu .open-menu-btn {
  transform: translate3d(-200%, 0px, 0px);
}
body.closed-menu .open-menu-btn img {
  transform: rotate(180deg);
}
body.closed-menu main {
  grid-template: "topbar topbar topbar topbar topbar" "content content content content content" "content content content content content"/1fr 1fr 1fr 1fr 1fr !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: #FDBF50;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #F5F5F5;
}
main #topbar {
  background-color: #2A2C41;
  width: 100%;
  min-height: 55px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: white;
}
main #topbar .topbar__wrapper-account .topbar__wrapper-account__inner-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
main #topbar .topbar__wrapper-logo {
  display: flex;
  align-items: center;
  min-width: calc(20% - 1rem);
  justify-content: space-between;
}
main #topbar .topbar__wrapper-logo .open-menu-btn {
  width: 2rem;
}
main #sidebar {
  background-color: white;
  grid-area: sidebar;
  width: 20%;
}
main #content {
  background-color: #F5F5F5;
  grid-area: content;
  min-height: calc(100vh - 55px - 50px);
  width: 80%;
}
main #content .content-wrapper {
  padding: 1.5rem;
}
main #content .content-wrapper .content__inner-wrapper {
  background-color: white;
  padding: 1.5rem;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}

footer {
  background-color: #2A2C41;
  min-height: 55px;
}