@import "base/_includes.scss";

body.closed-menu {
    #content {
        width: 100%;
    }
}

main {
    //display: grid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $cor-cinza-claro;


    #topbar {
        background-color: $cor-azul-escuro;
        width: 100%;
        min-height: $altura-header-large;
        height: $altura-header-large;
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        color: white;

        .topbar__wrapper-account {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: -3px;
                height: 100%;
                border-left: 1px solid white;
            }

            .topbar__wrapper-account__inner-wrapper {
                display: flex;
                align-items: center;
                //justify-content: space-between;
                //width: 100%;
            }
        }

        .topbar__wrapper-logo {
            display: flex;
            align-items: center;
            min-width: calc(20% - 1rem);
            justify-content: space-between;

        }
    }

    #sidebar {
        background-color: white;
        grid-area: sidebar;
        width: 20%;

    }

    #content {
        background-color: $cor-cinza-claro;
        grid-area: content;
        min-height: calc(100vh - $altura-header-large - $altura-footer-large);
        width: 80%;

        .content-wrapper {
            padding: 1.5rem;

            .content__inner-wrapper {
                background-color: white;
                padding: 1.5rem;
                border: 1px solid #C5C5C5FF;
                border-radius: 5px;
            }
        }

    }

}

footer {
    background-color: $cor-azul-escuro;
    min-height: $altura-header-large;
}
