#sidebar {
    transition: all 0.3s ease-in-out;

}

body {

    #topbar {
        -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);

        #logo, #icon {
            max-width: 120px;
            max-height: 47px;
        }


    }

    .open-menu-btn {
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-flow: column;
        gap: 5px;
        margin-left: 1rem;

        span {
            width: 27px;
            height: 3px;
            border-radius: 2px;
            display: inline-block;
            background-color: white;
        }

        &:after, &:before {
            content: '';
            width: 20px;
            height: 3px;
            border-radius: 3px;
            display: inline-block;
            background-color: white;
            transition: all 0.3s ease-in-out;

        }

        &:before {
            transform: rotate(-33deg) translateX(-2px) translateY(1px)
        }

        &:after {
            transform: rotate(33deg) translateX(-2px) translateY(-1px);
        }

    }

    &.closed-menu {
        #sidebar {
            transform: translate3d(-100%, 0px, 0px);
        }

        .open-menu-btn {
            //transform: translate3d(-200%, 0px, 0px);
            display: flex;
            flex-flow: column;
            gap: 5px;

            span {
                width: 30px;
                height: 3px;
                border-radius: 2px;
                display: inline-block;
                background-color: white;
            }

            &:after, &:before {
                content: '';
                width: 30px;
                height: 3px;
                border-radius: 2px;
                display: inline-block;
                background-color: white;
                transform: rotate(0deg) translateX(0px) translateY(0px);
            }
        }
        //
        //main {
        //    grid-template:
        //    "topbar topbar topbar topbar topbar"
        //    "content content content content content"
        //    "content content content content content" / 1fr 1fr 1fr 1fr 1fr !important;
        //}
    }
}
