$fontPrincipal: 'Inter', sans-serif;


//Cores
$cor-azul-escuro: #2A2C41;
$cor-laranja: #FDBF50;
$cor-laranja-escuro: #E6533C;
$cor-cinza-claro: #F5F5F5;

$altura-header-large: 55px;

$altura-footer-large: 50px;