$fontPrincipal: 'Roboto', sans-serif;


$altura-header-large: 70px;

$altura-footer-large: 20px;
$tabelas-lsitagem-cor-texto-opcoes: #3b3b3b;


$cor-header: #3b3b3b;
$cor-footer: $cor-header;

$cor-texto-menu: $cor-header;
$cor-texto-menu-ativo: $cor-header;