
form {
    .grid-margin-x {
        justify-content: space-between;
    }

    .titulo-form {
        margin-bottom: 3rem;
    }

    .input-group {
        border: none;
        flex-wrap: wrap;
        text-align: left;
        margin-bottom: 2rem;

        .input-group-label {
            margin-bottom: 20px;
            border-radius: 10px 0px 0px 10px;
            background: white;
            border: 1px solid $cor-1;
            border-right: 0px;

            i, span, label {
                color: #002B3F;
                margin: 0px;
                border: none;
            }
        }

        .input-icon {
            border-radius: 0px 10px 10px 0px;
        }
    }

    .error {
        text-align: left;
        color: $cor-vermelho;
        font-size: 12px;
        display: inline-block;

        svg{
            margin-right: 5px;
        }
        * {
            font-size: 12px;
            margin-bottom: 0;
        }
    }

}

textarea, [type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


label {
    margin-bottom: 5px;
    text-align: left;
    display: block;
    font-weight: 500;
    padding-bottom: 0px;

    small {
        text-transform: none;
    }
}


