//Estilos para o site...
$espacamentos: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 150, 200, 300);
@include generate-spacings($espacamentos);

//tempo para a animação de desaparecer e aparecer o menu
$scrollhide-nav-transition-speed: 0.6s;

.pagination {
    li {

    }
}

.btn-style, .button {
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.7rem 1.5rem;
    border: 1px solid rgba($cor-1, 0.9);
    background-color: rgba($cor-1, 0.9);
    -webkit-transition: all 0.2s;
    transition: all 0.2;

    &:hover {
        background-color: $cor-1;
    }

    &.button--success {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;

        &:hover {
            background-color: darken(#5cb85c, 10%);
        }
    }
}

.btn-style-inverse {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    border: 2px solid white;
    background-color: $cor-1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;

    &:hover {
        color: white;
        background-color: $cor-escuro;
    }
}

.button-sem-style {
    border: none;
    cursor: pointer;

    &:hover {

    }
}

.btn-small {
    padding: 10px 20px;
    font-size: 16px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 26px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    height: 100%;
    margin: 0px 5px;
    min-width: 45px;

    &:before {
        position: absolute;
        content: "";
        height: 19px;
        width: 20px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    /* Rounded sliders */

}

.swiper {
    overflow: hidden;
}

.round {
    height: 100%;
    border-radius: 34px;
}

.round:before {
    border-radius: 50%;
}

input:checked + .slider {
    background-color: $cor-1;
}

input:focus + .slider {
    box-shadow: 0 0 1px $cor-1;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.form-search {
    border-bottom: 1px solid $cor-1;
    display: inline-block;
    width: 100%;

    .input-search {
        margin-bottom: 2px;
        display: inline-block;
        border-radius: 0px;
        border: 0px;
        max-width: 90%;
        box-shadow: none;
    }

    button {
        text-align: right;
        width: 5%;
    }
}

.error-box {
    padding: 10px;
    border: 1px solid #e13300;
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 10px;
}

.success-box {
    padding: 10px;
    border: 1px solid #b5d56d;
    background-color: #DFEFBC;
    border-radius: 10px;
}

.warning-box {
    padding: 10px;
    border: 1px solid #ffd11a;
    background-color: #ffe066;
    border-radius: 10px;
}

footer {
    /*    display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        min-height: 50px;
        box-shadow: 0 2px 22px -5px rgba(0, 0, 0, 0.2);
        background-color: #F7F7F7;
        .copyright{
            text-align: center;
            color:white;
            position:absolute;
            bottom:0;
        }*/
}

h1, h2, h3, h4, h5, h6, a, p, li, input, button {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 45px
}

h2 {
    font-size: 35px
}

h3 {
    font-size: 25px
}

h4 {

}

h5 {

}

p {
    font-size: 16px;
    width: 100%;
}

.label--error {
    color: $cor-vermelho;
}

/* The container */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-color: $cor-1;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    &:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    input:checked ~ .checkmark {
        background-color: $cor-1;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .checkmark:after {
        left: 10px;
        top: 6px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .error {
        position: absolute;
        bottom: -40px;
        margin-bottom: 0px !important;
    }
}


body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.color-white {
    color: white;
}

.color-red {
    color: red;
}

.color-black {
    color: black;
}

.color-blue {
    color: blue;
}

.color-cor-1 {
    color: $cor-1;
}

#loading-wrapper {
    background-color: white;
    z-index: 9;
    position: absolute;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    display: none;
    @-webkit-keyframes rotating {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
        }
    }

    #loading {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 48px;
        height: 48px;
        margin-left: -24px;
        margin-top: -24px;
        border: $cor-1 3px solid;
        border-left-color: transparent;
        border-radius: 50%;
        -webkit-animation: rotating 1s linear infinite;
    }
}

//******************************* Classes Base **************************************

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}


.flex-align-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.justify-content-space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

//***********************************************************************************

/*Magnific PopUp*/
.white-popup {
    border-radius: 10px;
    position: relative;
    background: #FFF;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    animation: open 1s;

    .titulo-popup {
        /*        text-align: center;*/
        padding: 10px 20px 10px 20px;
        margin-bottom: 20px;
        box-shadow: 0 2px 22px -5px rgba(0, 0, 0, 0.2);
        border-radius: 10px 10px 0px 0px;
        background-color: #F7F7F7;

        h3 {
            margin-bottom: 0px;
        }
    }

    .popup-wrapper {
        padding: 0px 20px 20px 20px;
    }

    .mfp-close {
        font-size: 20px;

        &:hover {
            background-color: transparent;
        }
    }
}

.mfp-removing {
    animation: close 1s;
}

//Mais tarde usar estes estilos
.dialog {
    @include flexbox;
    @include align-items(center);
    transform: scale(0);
    position: fixed;
    transition: background-color 0.5s ease;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 9999999;
    padding-bottom: 20px;
    overflow-y: auto;
    max-width: 100%;

    .dialog__conteudo {
        position: relative;
        background: #FFF;
        padding: 20px;
        width: auto;
        max-width: 500px;
        margin: 20px auto;
        border-radius: 10px;

        .dialog__conteudo__titulo {
            /*        text-align: center;*/
            padding: 10px 20px 10px 20px;
            margin-bottom: 20px;
            box-shadow: 0 2px 22px -5px rgba(0, 0, 0, 0.2);
            border-radius: 10px 10px 0px 0px;
            background-color: #F7F7F7;
            margin-top: -20px;
            margin-right: -20px;
            margin-left: -20px;

            h3 {
                margin-bottom: 0px;
            }
        }
    }

    .dialog__close-button {
        font-size: 16px;
        color: white;
        background-color: $cor-1;
        font-size: 16px;
        position: absolute;
        right: 0;
        border-radius: 0px 10px;
        top: 0;
        padding: 14px;
    }

    .dialog__close-button--small {
        padding: 4px 11px;
    }

    mfp-close {
        font-size: 20px;

        &:hover {
            background-color: transparent;
        }
    }


}

.grid-x.grid-x--1400 {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

/* Small only */
@media screen and (max-width: 639px) {

    .visible-medium-up {
        display: none !important;
    }
    .small-text-center {
        text-align: center;
    }
    header {
    }
    body {
        .conteudo-area {
            padding: 0px 20px;
        }

        h1 {
            font-size: 35px
        }

        h2 {
            font-size: 30px
        }

        h3 {
            font-size: 25px
        }

        h4 {
            font-weight: 600;
            font-size: 20px
        }

        h5 {
            font-weight: 600;
            font-size: 17px
        }
    }
    footer {
    }
}

/* Medium and up */
@media screen and (min-width: 640px) {
    .small-only {
        display: none !important;
    }
    header {
    }
    body {

        .conteudo-area {
            padding: 0px 30px;
        }


    }
    footer {
    }
}


/* Medium Down */
@media screen and (max-width: 1023px) {
    .medium-down-text-center {
        text-align: center;
    }
    .visible-large-up {
        display: none !important;
    }
    header {
    }
    body {
    }
    footer {
    }
}

/* Medium only */
@media screen and (min-width: 640px) and (max-width: 1023px) {
    .visible-large-up {
        display: none !important;
    }
    .visible-medium-down {

    }
    header {
    }
    body {
        h1 {
            font-size: 40px
        }

        h2 {
            font-size: 35px
        }

        h3 {
            font-size: 25px
        }

        h4 {
            font-size: 20px
        }

        h5 {

        }

    }
    footer {
    }
}

/* Large and up */
@media screen and (min-width: 1024px) {
    .visible-medium-down {
        display: none !important;
    }
    header {
    }
    body {
    }
    footer {
    }
}

/* Large only */
@media screen and (min-width: 1024px) and (max-width: 1199px) {
    header {
    }
    body {
    }
    footer {
    }
}